<div class="mx-grid mx-reportmatrix" style="display:none;">
	<div class="mx-grid-controlbar clearfix" focusIndex="0">
        <div class="mx-grid-pagingbar" dojoAttachPoint="pagingNode"></div>
        <div class="mx-grid-toolbar" dojoAttachPoint="toolBarNode"></div>
	</div>
	<div class="mx-grid-content" focusIndex="1">
        <table class="table table-bordered table-striped mx-reportmatrix-table">
            <thead dojoAttachPoint="theadNode"></thead>
            <tbody dojoAttachPoint="tbodyNode"></tbody>
            <tfoot dojoAttachPoint="tfootNode"></tfoot>
        </table>
    </div>
</div>
