<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <system.windows.forms jitDebugging="true"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapHttps" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="20971520" maxBufferPoolSize="524288" maxReceivedMessageSize="20971520" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="SoapHttp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="20971520" maxBufferPoolSize="524288" maxReceivedMessageSize="20971520" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://appstore.home.mendix.com/ws/AppStoreServiceMx6_2/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="AppStoreService.AppStoreServiceMx6_2PortType" name="AppStoreP"/>
      <endpoint address="https://home.mendix.com/ws/OpenIDService/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="OpenIDService.OpenIDServicePortType" name="OpenIDP"/>
      <endpoint address="https://sprintr.home.mendix.com/ws/ModelerIntegration/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="SprintrService.ModelerIntegrationPortType" name="SprintrP"/>

      <endpoint address="https://appstore.home-accp.mendix.com/ws/AppStoreServiceMx6_2/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="AppStoreService.AppStoreServiceMx6_2PortType" name="AppStoreA"/>
      <endpoint address="https://home-accp.mendix.com/ws/OpenIDService/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="OpenIDService.OpenIDServicePortType" name="OpenIDA"/>
      <endpoint address="https://sprintr.home-accp.mendix.com/ws/ModelerIntegration/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="SprintrService.ModelerIntegrationPortType" name="SprintrA"/>

      <endpoint address="https://appstore.home-test.mendix.com/ws/AppStoreServiceMx6_2/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="AppStoreService.AppStoreServiceMx6_2PortType" name="AppStoreT"/>
      <endpoint address="https://home-test.mendix.com/ws/OpenIDService/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="OpenIDService.OpenIDServicePortType" name="OpenIDT"/>
      <endpoint address="https://sprintr.home-test.mendix.com/ws/ModelerIntegration/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="SprintrService.ModelerIntegrationPortType" name="SprintrT"/>

      <endpoint address="https://appstore.home.mendix.dev/ws/AppStoreServiceMx6_2/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="AppStoreService.AppStoreServiceMx6_2PortType" name="AppStoreD"/>
      <endpoint address="https://home.mendix.dev/ws/OpenIDService/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="OpenIDService.OpenIDServicePortType" name="OpenIDD"/>
      <endpoint address="https://sprintr.home.mendix.dev/ws/ModelerIntegration/" binding="basicHttpBinding" bindingConfiguration="SoapHttps" contract="SprintrService.ModelerIntegrationPortType" name="SprintrD"/>
    </client>
  </system.serviceModel>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <appSettings>
    <add key="Environment" value="P"/>
    <add key="HomeUrlD" value="home.mendix.dev"/>
    <add key="HomeUrlT" value="home-test.mendix.com"/>
    <add key="HomeUrlA" value="home-accp.mendix.com"/>
    <add key="HomeUrlP" value="home.mendix.com"/>
    <add key="CloudServiceD" value="https://cloud.home.mendix.dev/ws/CloudService/"/>
    <add key="CloudServiceT" value="https://cloud.home-test.mendix.com/ws/CloudService/"/>
    <add key="CloudServiceA" value="https://cloud.home-accp.mendix.com/ws/CloudService/"/>
    <add key="CloudServiceP" value="https://cloud.home.mendix.com/ws/CloudService/"/>
    <add key="ModelShareServiceD" value="https://accp.modelshare.mendix.com"/>
    <add key="ModelShareServiceT" value="https://accp.modelshare.mendix.com"/>
    <add key="ModelShareServiceA" value="https://accp.modelshare.mendix.com"/>
    <add key="ModelShareServiceP" value="https://modelshare.mendix.com"/>
    <add key="GuidanceUrlD" value="https://guidance.home.mendix.com/dev/show"/>
    <add key="GuidanceUrlT" value="https://guidance.home.mendix.com/test/show"/>
    <add key="GuidanceUrlA" value="https://guidance.home.mendix.com/accp/show"/>
    <add key="GuidanceUrlP" value="https://guidance.home.mendix.com/prod/show"/>
    <add key="DMServiceD" value="https://dm-test.mendix.com/"/>
    <add key="DMServiceT" value="https://dm-test.mendix.com/"/>
    <add key="DMServiceA" value="https://dm-test.mendix.com/"/>
    <add key="DMServiceP" value="https://dm.mendix.com/"/>
    <add key="WebModelerD" value="http://webmodeler-dev.elasticbeanstalk.com/"/>
    <add key="WebModelerT" value="http://webmodeler-test.elasticbeanstalk.com/"/>
    <add key="WebModelerA" value="https://modeler-accp.mendix.com/"/>
    <add key="WebModelerP" value="https://modeler.mendix.com/"/>
    <add key="SvnKidD" value="https://svnkid.mendix.dev/api/1/"/>
    <add key="SvnKidT" value="https://svnkid-test.mendixcloud.com/api/1/"/>
    <add key="SvnKidA" value="https://svnkid-accp.mendixcloud.com/api/1/"/>
    <add key="SvnKidP" value="https://bidi.mendix.com/api/1/"/>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file"
              xsi:type="File"
              fileName="${specialfolder:folder=LocalApplicationData:dir=Mendix}/log/${modeler-version}/log.txt"
              layout="${longdate} ${level:uppercase=true} ${logger} ${message}${onexception:inner=${newline}${exception:format=ToString}}"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              archiveFileName="${specialfolder:folder=LocalApplicationData:dir=Mendix}/log/${modeler-version}/log.{#}.txt"
              maxArchiveFiles="7"
              concurrentWrites="false"/>
      <target name="console"
              xsi:type="Console"
              layout="${longdate} ${level:uppercase=true} ${logger} ${message}${onexception:inner=${newline}${exception:format=ToString}}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
</configuration>
