<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console"
              xsi:type="Console"
              layout="${longdate} ${level:uppercase=true} ${logger} ${message}${onexception:inner=${newline}${exception:format=ToString}}"/>
    </targets>
    <rules>
      <!--<logger name="Mendix.MxBuild.*" minlevel="Debug" writeTo="console" />
      <logger name="Mendix.Modeler.Deployment.*" minlevel="Debug" writeTo="console" />-->
    </rules>
  </nlog>
</configuration>
