<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch">
<booleanAttribute key="clean" value="true"/>
<booleanAttribute key="dynamicBundles" value="true"/>
<stringAttribute key="launchTarget" value="{ProjectName:HtmlAttributeEncode}/run.bndrun"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="M2EE_ADMIN_PASS" value="1"/>
<mapEntry key="M2EE_ADMIN_PORT" value="{M2EEAdminPort:HtmlAttributeEncode}"/>{M2EEAdminPortPublic}
<mapEntry key="M2EE_CONSOLE_PATH" value="{InstallDir:HtmlAttributeEncode}/modeler/MendixConsoleLog.exe"/>
<mapEntry key="MXCONSOLE_BASE_PATH" value="{DeploymentDir:HtmlAttributeEncode}"/>
<mapEntry key="MXCONSOLE_RUNTIME_PATH" value="{RuntimeDir:HtmlAttributeEncode}"/>
<mapEntry key="MXCONSOLE_RUNTIME_PORT" value="{M2EERuntimePort:HtmlAttributeEncode}"/>{M2EERuntimePortPublic}
<mapEntry key="MXCONSOLE_SERVER_URL" value="http://127.0.0.1:{M2EEAdminPort:HtmlAttributeEncode}/"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="{ProjectName:HtmlAttributeEncode}"/>
<booleanAttribute key="trace" value="false"/>
</launchConfiguration>