Private-Package: {PrivatePackages:{Name:PropertiesEscapeValue}|, }
Import-Package: *;resolution:=optional
Service-Component: *
Include-Resource: ../../userlib/;recursive:=true;filter:=!*.jar
Bundle-Name: {ProjectName:PropertiesEscapeValue}
Bundle-SymbolicName: project
