<div class="MxInlineEditor">
    <form class="inlineEditBox" style="display: none;" dojoAttachPoint="form" onsubmit="return false;">
        <input type="text" dojoAttachPoint="readonly" style="display: none;" class="inlineEditBox_readOnly form-control"/>
        <input type="text" dojoAttachPoint="enumtext" style="display: none;" class="inlineEditBox_focusEnum form-control"/>
        <input type="text" dojoAttachPoint="text" style="display: none;" class="inlineEditBox_editable form-control"/>
        <select type="select" dojoAttachPoint="select" style="display: none;" class="inlineEditBox_selectbox form-control"></select>
    </form>
</div>
