<div class="MxInlineEditor">
	<form class="inlineEditBox" style="display: none" dojoAttachPoint="form" onsubmit="return false;">
		<input type="text" dojoAttachPoint="readonly" style="display: none;" class="inlineEditBox_readOnly"/>
		<input type="text" dojoAttachPoint="enumtext" style="display: none;" class="inlineEditBox_focusEnum"/>
		<input type="text" dojoAttachPoint="text" style="display: none;" class="inlineEditBox_editable"/>
		<textarea dojoAttachPoint="textarea" style="display: none;" class="inlineEditBox_editable"></textarea>
		<select type="select" dojoAttachPoint="select" style="display: none;" class="inlineEditBox_selectbox" />
	</form>
</div>
