<div class="${baseClass} mx-templategrid">
    <div class="${baseClass}-searchbar clearfix" dojoAttachPoint="searchNode" focusIndex="0">
        <div class="${baseClass}-search-controls" focusIndex="1" dojoAttachPoint="searchControlNode"></div>
        <div class="${baseClass}-search-inputs" focusIndex="0" dojoAttachPoint="searchArgumentNode"></div>
        <div class="${baseClass}-search-message" dojoAttachPoint="messageNode"></div>
    </div>
    
    <div class="${baseClass}-controlbar clearfix" dojoAttachPoint="controlNode" focusIndex="1">
        <div class="${baseClass}-pagingbar" dojoAttachPoint="pagingBarNode"></div>
        <div class="${baseClass}-toolbar" dojoAttachPoint="toolBarNode"></div>
    </div>
	
    <div class="${baseClass}-content" dojoAttachPoint="contentNode" focusIndex="2">
        <div class="${subClass}-content-wrapper" dojoAttachPoint="itemNode"></div>
    </div>
</div>
